
body {
  background-color:white;
}

#navbar {
    margin-top: 8px;
    font-size: 18px;
}


.navbar-brand {
    float: left;
    padding: 0px 0px;
    font-size: 19px;
    line-height: 21px;
    height: 65px;
}


/* BEGIN Profile Contact Brembo Details */

.form-control-cell .info {
  font-family: "Roboto Condensed", sans-serif; 
}

.form-control-cell .control {
  font-family: "Muli", sans-serif; 
}

/* END Profile Contact Brembo Details */
