
body {
  background-color:white;
}

#navbar {
    margin-top: 8px;
    font-size: 18px;
}


.navbar-brand {
    float: left;
    padding: 0px 0px;
    font-size: 19px;
    line-height: 21px;
    height: 65px;
}


/* BEGIN "Profile Contact Brembo Details" & "Account Profile"  */

.form-control-cell .info label /* for Profile... Details */
legend.section-title /* for Account Profile */
{
  font-family: "Roboto Condensed", sans-serif; 
  color: #9B9B9B;
  font-weight: normal;
}

.form-control-cell .control .form-control, 
.form-control-cell .control .text-primary {
  font-family: "Muli", sans-serif; 
  font-size: 22px;
  color: #000000;
}

/* END Profile Contact Brembo Details */
