
body {
  background-color:white;
	font-family: font-family: "Muli", sans-serif;
}

#navbar {
    margin-top: 8px;
    font-size: 18px;
}


.navbar-brand {
    float: left;
    padding: 0px 0px;
    font-size: 19px;
    line-height: 21px;
    height: 65px;
}


/* BEGIN "Profile Contact Brembo Details" & "Account Profile"  */

.form-control-cell .info label, /* for Profile... Details */
legend.section-title /* for Account Profile */
{
  font-family: "Roboto Condensed", sans-serif; 
  color: #9B9B9B;
  font-size: 15px;
  font-weight: normal;
}

/* for Account Profile: Address title */ 
.crmEntityFormView legend.section-title {
    padding: 0 28px;
}

.form-control-cell .control .form-control, 
.form-control-cell .control .text-primary {
  font-family: "Muli", sans-serif; 
  font-size: 22px;
  color: #000000;
}

/* END "Profile Contact Brembo Details" & "Account Profile" */

/* BEGIN Footer  */

footer {
  color: #000000;  
}  
  
footer .footer-bottom {
  background-color: #F2F2F2;
  padding: 20px 0;
}

#footer_row {
	padding: 20px 0;
}

#footer_row p {
	margin-bottom: 10px;
}

footer h5 {
  color: #4F4F4F;
}

.cap-footer-img {
  height: 32px;
  margin-top: 30px;
}

#copyright_container {
  text-align: center;
}

/* END Footer  */
