body {
	font-family: "Muli", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
	font-family: "Roboto Condensed", sans-serif;
}


.notes > .note > .row > .metadata,
.notes > .note > .row > .content > .text,
.notes > .note > .row > .content > .attachment > .img {
  display: none;
}


.notes > .note > .row > .content.col-sm-9 {
 width: 100%; 
}

.notes > .note > .row > .content > .attachment > .link > a {
 color:  #000000;
}
